{% extends "adminbase.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'dist/css/bootstrap.min.css' %}">

<div class="container my-5">
    <h1 class="text-center mb-4">Ajouter du Stock</h1>
    <div class="card mx-auto shadow p-4" style="max-width: 600px;">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <div class="text-center">
                <button type="submit" class="card-btn3">Ajouter</button>
                <a href="{% url 'manage_stock' %}" class="card-btn1">Annuler</a>
            </div>
        </form>  
    </div>
</div>
{% endblock %}
