<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'dist/css/bootstrap.min.css' %}">
    <script src="{% static 'dist/js/bootstrap.bundle.js' %}"></script>
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <meta name="theme-color" content="#7952b3">
    <title>Rénovation</footer></title>
    <style>
        footer {
            background: #f8f9fa;
        }
    </style>
</head>
<body>
    <!-- Footer -->
<footer class="container py-5">
    <div class="row">
        <div class="col-12 col-md">
            <img src="{% static 'images/logo.jpg' %}" alt="Logo" width="50">
            <small class="d-block mb-3 text-muted">&copy; 2024 Rénovation Immobilière</small>
        </div>
        <div class="col-6 col-md">
            <h5>Liens Rapides</h5>
            <ul class="list-unstyled text-small">
                <li><a href="#">Accueil</a></li>
                <li><a href="#designs">Designs</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Contact</h5>
            <ul class="list-unstyled text-small">
                <li><a href="#">Email: gastephane@gmail.com</a></li>
                <li><a href="#">Téléphone: +257 62 15 23 03</a></li>
                <li><a href="#">Adresse: 60 av. de la  mission, Bujumbura, BURUNDI</a></li>
            </ul>
        </div>
        <br>
        <p>
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-whatsapp"></a>
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-twitter"></a>
          </p>
    </div>
</footer>

</body>
</html>