{% extends "superviseurbase.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'dist/css/bootstrap.min.css' %}">
<div class="container my-5">
    <h1 class="text-center mb-4">Liste des Rénovations</h1>
    <a href="{% url 'superviseur_dashboard' %}" class="card-btn1">← Retour</a><br><br>
    <div class="card  text-center shadow p-4">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Client</th>
                    <th>Date </th>
                    <th>Description</th>
                    <th>Budget Final</th>
                    <th>Justificatif</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for renovation in renovations %}
                <tr>
                    <td>{{ renovation.id }}</td>
                    <td>{{ renovation.client.username }}</td>
                    <td>{{ renovation.created_at|date:'j M Y H:i' }}</td>
                    <td>{{ renovation.description|truncatechars:50 }}</td>
                    <td>{{ renovation.budget2.montant }} BIF</td>
                    <td>
                        {% if renovation.justificatif %}
                            <a href="{{ renovation.justificatif.url }}" target="_blank" class="btn btn-sm btn-success">
                                <i class="fas fa-file-download"></i> Voir
                            </a>
                        {% else %}
                            <span class="text-muted">-</span>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'renovation_detail' renovation_id=renovation.id %}" class="form-btn btn2">Détails</a>
                        <a href="{% url 'confirm_renovation_done' renovation_id=renovation.id %}" class="form-btn btn1">Terminé</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="7">Aucune rénovation enregistrée.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}