{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>sign up</title>




    <style media="screen">
      body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(to right, #b92b27, #1565c0)
}
  
    </style>
    <link href="signin.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <form class="box" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                    <h1>INSCRIPTION DU CLIENT</h1>
                    <p class="text-muted"> Entre les détails s'il vous plait !</p>
                      {% render userForm.first_name class="form-control" placeholder="First Name" %}
                        {% render userForm.last_name class="form-control" placeholder="Last Name" %}
                          {% render userForm.username class="form-control" placeholder="Username" %}
                            {% render userForm.password class="form-control" placeholder="Password" %}
                              {% render customerForm.address class="form-control" placeholder="Address" %}
                                {% render customerForm.mobile class="form-control" placeholder="Mobile" %}
                                  {% render customerForm.profile_pic class="form-control" placeholder="Profile pic" %}
                  
                     <input type="submit" name="" value="Create">

                </form>
            </div>
        </div>
    </div>
</div>
<br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br>
<br><br><br><br><br>
  </body>
</html>
