{% extends "superviseurbase.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/admin.css' %}">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
<link rel="icon" href="{% static 'favicon.ico' %}">
<script src="{% static 'dist/js/bootstrap.bundle.js' %}"></script>
<title>Tableau de Bord Superviseur</title>


<div class="container my-5">
    <h1 class="text-center mb-4">Tableau de Bord Superviseur</h1>

    <div class="row g-4">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body text-center">
                    <i class="fas fa-tasks fa-3x mb-3 text-info"></i>
                    <h4>Supervision des Travaux</h4>
                    <p>Attribuez et supervisez les travaux en cours.</p>
                    <a href="{% url 'liste_attente' %}" class="card-btn">Superviser</a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body text-center">
                    <i class="fas fa-folder-open fa-3x mb-3 text-success"></i>
                    <h4>Projets en Attente</h4>
                    <p>Consultez et gérez les projets actuels des clients.</p>
                    <a href="{% url 'manage_liste_attente' %}" class="card-btn2">Voir</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row g-4 mt-4">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body text-center">
                    <i class="fas fa-check-circle fa-3x mb-3 text-primary"></i>
                    <h4>Validation des Travaux</h4>
                    <p>Validez les étapes terminées et finalisez les projets.</p>
                    <a href="{% url 'liste_renovation' %}" class="card-btn">Valider</a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body text-center">
                    <i class="fas fa-comments fa-3x mb-3 text-warning"></i>
                    <h4>Feedback des Clients</h4>
                    <p>Consultez les retours et ajustez les travaux en conséquence.</p>
                    <a href="#" class="card-btn1">Voir</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}