<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#7952b3">
    <title>rénovation immobilière</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'dist/css/admin.css' %}">
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <script src="{% static 'dist/js/bootstrap.bundle.min.js' %}" defer></script>

    
<style>
    .card {    
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        border-radius: 30px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    .card:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    }
</style>
</head>
<body>
    {% include "Client/clientnavbar.html" %}

    <div class="main-content">
        {% block content %}
        {% endblock %}
    </div>

    {% include "Client/clientfooter.html" %}
</body>
</html>