{% extends "Client/clientbase.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/admin.css' %}">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
<link rel="icon" href="{% static 'favicon.ico' %}">
<script src="{% static 'dist/js/bootstrap.bundle.js' %}"></script>
<meta name="theme-color" content="#7952b3">
<title>Tableau de Bord Client</title>


<div class="container my-5">
    <h1 class="text-center mb-4">Tableau de Bord Client</h1>

    <div class="row g-4">
        <div class="col-md-6">
            <!-- Card 1: Mon Profil -->
            <div class="card shadow">
                <div class="card-body text-center">
                    <i class="fas fa-user fa-3x mb-3 text-info"></i>
                    <h4>Mon Profil</h4>
                    <p>Bienvenue,<strong> {{ user.last_name }} {{ user.first_name }} </strong>!</p>
                    <a href="{% url 'view_profile' %}" class="card-btn">Voir mon profil</a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <!-- Card 4: Galérie -->
            <div class="card shadow">
                <div class="card-body text-center">
                    <i class="fas fa-images fa-3x mb-3 text-warning"></i>
                    <h4>Galérie</h4>
                    <p>Explorez nos designs intérieurs et extérieurs.</p>
                    <a href="{% url 'client_galerie' %}" class="card-btn1">Voir la galérie</a>
                </div>
            </div>
        </div>

        
    </div>

    <div class="row g-4 mt-4">
        <div class="col-md-6">
            <!-- Card 3: Panier -->
            <div class="card shadow">
                <div class="card-body text-center">
                    <i class="fas fa-shopping-cart fa-3x mb-3 text-success"></i>
                    <h4>Panier</h4>
                    <p>Voir les articles dans votre panier.</p>
                    <a href="{% url 'client_orders' %}" class="card-btn2">Voir mon panier</a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <!-- Card 2: Paiement -->
            <div class="card shadow">
                <div class="card-body text-center">
                    <i class="fas fa-credit-card fa-3x mb-3 text-danger"></i>
                    <h4>Paiements</h4>
                    <p>Consultez votre historique de paiements.</p>
                    <a href="{% url 'paiement' %}" class="card-btn4">Voir mes paiements</a>
                </div>
            </div>            
        </div>

        
    </div>
    <div class="row g-4 mt-4">
        <div class="col-md-6">
            <!-- Card 5: Mes Commandes -->
            <div class="card shadow">
                <div class="card-body text-center">
                    <i class="fas fa-shopping-bag fa-3x mb-3 text-success"></i>
                    <h4>Mes Commandes</h4>
                    <p>Voir toutes vos commandes passées et leur status.</p>
                    <a href="#" class="card-btn2">Voir mes commandes</a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <!-- Card 6: Fin des travaux -->
            <div class="card shadow">
                <div class="card-body text-center">
                    <i class="fas fa-check-circle fa-3x mb-3 text-primary"></i>
                    <h4>Mes Travaux</h4>
                    <p>Visionnage des travaux effectués .</p>
                    <a href="#" class="card-btn3">Voir mes travaux</a>
                </div>
            </div>            
        </div>
    </div>
</div>

{% endblock content %}