{% extends "Client/clientbase.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'dist/css/bootstrap.min.css' %}">
<div class="container my-5">
    <h1 class="text-center mb-4">Options de Paiement</h1>
    <ul class="list-group">
        <li class="list-group-item"><a href="{% url 'visite_local' %}" class="btn btn-primary">Visite du Local</a></li>
        <li class="list-group-item"><a href="#" class="btn btn-primary">Budget d'Avance</a></li>
        <li class="list-group-item"><a href="#" class="btn btn-primary">Budget Final</a></li>
    </ul>
</div>
{% endblock %}