{% extends "Client/clientbase.html" %}
{% load widget_tweaks %}
{% load static %}

{% block css %}
<style>
    .card {    
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        border-radius: 30px !important;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border: none !important; 
        padding: 15px;
        overflow: hidden; 
        text-align: center;
    }
    .card:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    }
</style>
{% endblock css%}

{% block content %}
<div class="container my-5">
    <h1 class="text-center mb-4">Mon Profil</h1>
    <div class="card mx-auto" style="max-width: 500px;">
        <div class="card-body">
            <h2 class="card-title">Informations Personnelles</h2>
            <p><strong>Nom:</strong> {{ client.user.last_name }} {{ client.user.first_name }}</p>
            <p><strong>Email:</strong> {{ client.user.email }}</p>
            <p><strong>Adresse:</strong> {{ client.address|default:"Non spécifiée" }}</p>
            <p><strong>Téléphone:</strong> {{ client.mobile|default:"Non spécifié" }}</p>
            <p><strong>Âge:</strong> {{ client.age }}</p>
            <div style="text-align: center; margin-top: 20px;">
                <a href="{% url 'edit_profile' %}" class="card-btn2">Modifier</a>
                <a href="{% url 'client-home' %}" class="card-btn1">Retour</a>
            </div>
        </div>
    </div>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}